dist

/node_modules/**/*
!/node_modules/@siteimprove/
!/node_modules/@siteimprove/alfa-applicative/
!/node_modules/@siteimprove/alfa-applicative/dist/
!/node_modules/@siteimprove/alfa-applicative/dist/*.js
!/node_modules/@siteimprove/alfa-array/
!/node_modules/@siteimprove/alfa-array/dist/
!/node_modules/@siteimprove/alfa-array/dist/*.js
!/node_modules/@siteimprove/alfa-bits/
!/node_modules/@siteimprove/alfa-bits/dist/
!/node_modules/@siteimprove/alfa-bits/dist/*.js
!/node_modules/@siteimprove/alfa-cache/
!/node_modules/@siteimprove/alfa-cache/dist/
!/node_modules/@siteimprove/alfa-cache/dist/*.js
!/node_modules/@siteimprove/alfa-callback/
!/node_modules/@siteimprove/alfa-callback/dist/
!/node_modules/@siteimprove/alfa-callback/dist/*.js
!/node_modules/@siteimprove/alfa-cascade/
!/node_modules/@siteimprove/alfa-cascade/dist/
!/node_modules/@siteimprove/alfa-cascade/dist/*.js
!/node_modules/@siteimprove/alfa-clone/
!/node_modules/@siteimprove/alfa-clone/dist/
!/node_modules/@siteimprove/alfa-clone/dist/*.js
!/node_modules/@siteimprove/alfa-collection/
!/node_modules/@siteimprove/alfa-collection/dist/
!/node_modules/@siteimprove/alfa-collection/dist/*.js
!/node_modules/@siteimprove/alfa-comparable/
!/node_modules/@siteimprove/alfa-comparable/dist/
!/node_modules/@siteimprove/alfa-comparable/dist/*.js
!/node_modules/@siteimprove/alfa-css/
!/node_modules/@siteimprove/alfa-css/dist/
!/node_modules/@siteimprove/alfa-css/dist/*.js
!/node_modules/@siteimprove/alfa-css-feature/
!/node_modules/@siteimprove/alfa-css-feature/dist/
!/node_modules/@siteimprove/alfa-css-feature/dist/*.js
!/node_modules/@siteimprove/alfa-device/
!/node_modules/@siteimprove/alfa-device/dist/
!/node_modules/@siteimprove/alfa-device/dist/*.js
!/node_modules/@siteimprove/alfa-dom/
!/node_modules/@siteimprove/alfa-dom/dist/
!/node_modules/@siteimprove/alfa-dom/dist/*.js
!/node_modules/@siteimprove/alfa-earl/
!/node_modules/@siteimprove/alfa-earl/dist/
!/node_modules/@siteimprove/alfa-earl/dist/*.js
!/node_modules/@siteimprove/alfa-either/
!/node_modules/@siteimprove/alfa-either/dist/
!/node_modules/@siteimprove/alfa-either/dist/*.js
!/node_modules/@siteimprove/alfa-encoding/
!/node_modules/@siteimprove/alfa-encoding/dist/
!/node_modules/@siteimprove/alfa-encoding/dist/*.js
!/node_modules/@siteimprove/alfa-equatable/
!/node_modules/@siteimprove/alfa-equatable/dist/
!/node_modules/@siteimprove/alfa-equatable/dist/*.js
!/node_modules/@siteimprove/alfa-flags/
!/node_modules/@siteimprove/alfa-flags/dist/
!/node_modules/@siteimprove/alfa-flags/dist/*.js
!/node_modules/@siteimprove/alfa-fnv/
!/node_modules/@siteimprove/alfa-fnv/dist/
!/node_modules/@siteimprove/alfa-fnv/dist/*.js
!/node_modules/@siteimprove/alfa-foldable/
!/node_modules/@siteimprove/alfa-foldable/dist/
!/node_modules/@siteimprove/alfa-foldable/dist/*.js
!/node_modules/@siteimprove/alfa-functor/
!/node_modules/@siteimprove/alfa-functor/dist/
!/node_modules/@siteimprove/alfa-functor/dist/*.js
!/node_modules/@siteimprove/alfa-hash/
!/node_modules/@siteimprove/alfa-hash/dist/
!/node_modules/@siteimprove/alfa-hash/dist/*.js
!/node_modules/@siteimprove/alfa-iterable/
!/node_modules/@siteimprove/alfa-iterable/dist/
!/node_modules/@siteimprove/alfa-iterable/dist/*.js
!/node_modules/@siteimprove/alfa-json/
!/node_modules/@siteimprove/alfa-json/dist/
!/node_modules/@siteimprove/alfa-json/dist/*.js
!/node_modules/@siteimprove/alfa-json-ld/
!/node_modules/@siteimprove/alfa-json-ld/dist/
!/node_modules/@siteimprove/alfa-json-ld/dist/*.js
!/node_modules/@siteimprove/alfa-lazy/
!/node_modules/@siteimprove/alfa-lazy/dist/
!/node_modules/@siteimprove/alfa-lazy/dist/*.js
!/node_modules/@siteimprove/alfa-list/
!/node_modules/@siteimprove/alfa-list/dist/
!/node_modules/@siteimprove/alfa-list/dist/*.js
!/node_modules/@siteimprove/alfa-map/
!/node_modules/@siteimprove/alfa-map/dist/
!/node_modules/@siteimprove/alfa-map/dist/*.js
!/node_modules/@siteimprove/alfa-mapper/
!/node_modules/@siteimprove/alfa-mapper/dist/
!/node_modules/@siteimprove/alfa-mapper/dist/*.js
!/node_modules/@siteimprove/alfa-math/
!/node_modules/@siteimprove/alfa-math/dist/
!/node_modules/@siteimprove/alfa-math/dist/*.js
!/node_modules/@siteimprove/alfa-monad/
!/node_modules/@siteimprove/alfa-monad/dist/
!/node_modules/@siteimprove/alfa-monad/dist/*.js
!/node_modules/@siteimprove/alfa-option/
!/node_modules/@siteimprove/alfa-option/dist/
!/node_modules/@siteimprove/alfa-option/dist/*.js
!/node_modules/@siteimprove/alfa-parser/
!/node_modules/@siteimprove/alfa-parser/dist/
!/node_modules/@siteimprove/alfa-parser/dist/*.js
!/node_modules/@siteimprove/alfa-predicate/
!/node_modules/@siteimprove/alfa-predicate/dist/
!/node_modules/@siteimprove/alfa-predicate/dist/*.js
!/node_modules/@siteimprove/alfa-record/
!/node_modules/@siteimprove/alfa-record/dist/
!/node_modules/@siteimprove/alfa-record/dist/*.js
!/node_modules/@siteimprove/alfa-rectangle/
!/node_modules/@siteimprove/alfa-rectangle/dist/
!/node_modules/@siteimprove/alfa-rectangle/dist/*.js
!/node_modules/@siteimprove/alfa-reducer/
!/node_modules/@siteimprove/alfa-reducer/dist/
!/node_modules/@siteimprove/alfa-reducer/dist/*.js
!/node_modules/@siteimprove/alfa-refinement/
!/node_modules/@siteimprove/alfa-refinement/dist/
!/node_modules/@siteimprove/alfa-refinement/dist/*.js
!/node_modules/@siteimprove/alfa-result/
!/node_modules/@siteimprove/alfa-result/dist/
!/node_modules/@siteimprove/alfa-result/dist/*.js
!/node_modules/@siteimprove/alfa-sarif/
!/node_modules/@siteimprove/alfa-sarif/dist/
!/node_modules/@siteimprove/alfa-sarif/dist/*.js
!/node_modules/@siteimprove/alfa-selective/
!/node_modules/@siteimprove/alfa-selective/dist/
!/node_modules/@siteimprove/alfa-selective/dist/*.js
!/node_modules/@siteimprove/alfa-selector/
!/node_modules/@siteimprove/alfa-selector/dist/
!/node_modules/@siteimprove/alfa-selector/dist/*.js
!/node_modules/@siteimprove/alfa-sequence/
!/node_modules/@siteimprove/alfa-sequence/dist/
!/node_modules/@siteimprove/alfa-sequence/dist/*.js
!/node_modules/@siteimprove/alfa-set/
!/node_modules/@siteimprove/alfa-set/dist/
!/node_modules/@siteimprove/alfa-set/dist/*.js
!/node_modules/@siteimprove/alfa-slice/
!/node_modules/@siteimprove/alfa-slice/dist/
!/node_modules/@siteimprove/alfa-slice/dist/*.js
!/node_modules/@siteimprove/alfa-string/
!/node_modules/@siteimprove/alfa-string/dist/
!/node_modules/@siteimprove/alfa-string/dist/*.js
!/node_modules/@siteimprove/alfa-style/
!/node_modules/@siteimprove/alfa-style/dist/
!/node_modules/@siteimprove/alfa-style/dist/*.js
!/node_modules/@siteimprove/alfa-thunk/
!/node_modules/@siteimprove/alfa-thunk/dist/
!/node_modules/@siteimprove/alfa-thunk/dist/*.js
!/node_modules/@siteimprove/alfa-trampoline/
!/node_modules/@siteimprove/alfa-trampoline/dist/
!/node_modules/@siteimprove/alfa-trampoline/dist/*.js
!/node_modules/@siteimprove/alfa-tree/
!/node_modules/@siteimprove/alfa-tree/dist/
!/node_modules/@siteimprove/alfa-tree/dist/*.js
!/node_modules/@siteimprove/alfa-trilean/
!/node_modules/@siteimprove/alfa-trilean/dist/
!/node_modules/@siteimprove/alfa-trilean/dist/*.js
